API_1_PORT=8080
API_2_PORT=8081
METRICS_ADDRESS=:9090
POSTGRES_DB=queue
POSTGRES_USER=queue
POSTGRES_PASSWORD=queue_dev_password
DEMO_MODE=true
WORKER_INTERVAL=30s
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m
IMAGE_TAG=v0.1.0
